/node_modules
/public/hot
/public/uploads
/public/storage
/public/demos/*
/public/css/_custom.css
/public/css/backend.css
/public/css/all.css
/public/js/_custom.js
/public/js/all.js
/public/js/backend.js
/storage/app/public/uploads/*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

/package-lock.json
/composer.lock
