.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background-color: #1D1F20;
  .menu-section {
    margin: 25px 0;
    .menu-section-title {
      text-transform: uppercase;
      color: #85888d;
      font-weight: 200;
      font-size: 13px;
      letter-spacing: 1px;
      padding: 0 20px;
      margin: 0;
    }
    .menu-section-list {
      padding: 0;
      margin: 10px 0;
      list-style: none;
      a{
        display: block;
        padding: 10px 20px;
        color: white;
        font-weight: 100;
        margin-left: 10px;
        &:hover{
          background-color: rgba(255, 255, 255, 0.1);
          text-decoration: none;
        }
        svg{
          margin-right: 10px;
        }
      }
      a.is-active{
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

