$color-green: #20CE88;
$color-dark: #1D1F20;
$color-dark-logo: #1E2D3B;
$color-grey: #e5e5e5;

// Backend variables
// Main Colors
$main-color-red: #e42022;
$main-color-green: rgba(68, 219, 189, 1);

$color-dark-bg: rgba(47, 46, 46, 1);
$color-footer-bg: #c6c6c5;
$color-footer-logo-bg: #eeeeee;
$color-default-text: #2F2E2E;
$color-hyperlink: #409EFF;
$color-default-light: rgba(87,87,87,0.75);
$color-default-light-super: rgba(87,87,87,0.15);
$color-dark-bg: #33434b;
$color-reverse-text: #ffffff;