$theme-color:#c9251f;
$theme-light:#bb4131;
.airbnb{
  h2{
    color: #373737;
    font-size: 0.6rem;
    line-height: 0.36rem;
    font-family: "Microsoft Yahei","Arial";
  }
}

.airbnbhk{
  h3{
    font-size:0.2rem;
    font-weight: 200;
    color:#000;
  }
  p{
    font-size:0.15rem;

  }
  width:45%;
  right:20%;
}

.article {
  h1{
    font-size:0.21rem;
  }
  h2{
    font-size: 1.6em;
    color: #000;
    margin-bottom:0.5em;
  }
}
@media screen and (min-width: 798px){

.toplft{
  width: 40%;
  height:100%;
  float:left;
  margin-top:5%;
  h1{
    font-size:0.4rem;
  }
}
.topright{
  height:100%;
  width: 60%;
  float:right;
  margin:2em 0 auto 0;
  padding-left:2em;
  border-left: 2px solid rgb(198,30,31);
}

}
@media screen and (max-width: 798px){

  .toplft{
    h1{
      font-size:0.35rem;
      display: inline;
    }
  }
  .topright{
    margin:auto 0;
  }
  .airbnbhk {
    width: 60%;
    p{
      line-height: 1.2em;
      margin-top: 0.3em;
      margin-bottom: 1em;
    }
  }
}

.gallery-mt{
  margin-top: 0.44rem;
}
.bg-light{
  background-color: rgb(246,246,246);
}
.footer{
  padding:60px 0 80px 0;
  background-color: rgb(246,246,246);
  h3{
    color: #3e3c3d;
    font-size: 26px;
    margin-bottom: 0.5em;
  }
  .footer-contact li{
    i{
      color:$theme-color;
      position: absolute;
      left: -5px;
      font-size: 20px;
    }
    font-size:18px;
    padding-left: 30px;
    margin:0.5em 0 1em 0;
  }
  .footer-widget{
    position: relative;
    height: 100%;
    li{
      font-size:14px;
      margin:0.5em 0 0.3em 0;
    }
  }
}

.color-bg{
  background-color: $theme-color;
}
.bg-clt{
  background-color: $theme-light;
}
.color-normal{
  color:$theme-color;
}

#footer-color{
  padding:10px 0;
  width: 100%;
  i{
    color:#fff;
    font-size:50px;
    margin:0 40px;
  }
}

#comments{
  ul li{
    h4{
      color: $theme-color;
      font-size:20px;
      font-weight:bold;
      margin-bottom:0.5em;
    }
    p{
      font-size:18px;
      line-height: 2em;
    }
    padding:0 1em;
    margin-bottom:2em;
  }
}

#why {
  .why-wrap {
    margin: auto 0;
    img {
      width: 90px;
    }
    h3 {
      font-size: 20px;
      font-weight: bold;
    }
    h4 {
      font-size: 18px;
      font-weight: bold;
    }
    p {
      padding: 1em;
      font-size: 16px;
    }
  }
  @media (min-width: 1200px){
    .container {
      max-width: 1400px;
    }
  }
}

#main{
    padding: 0 1rem;
    margin: 3em 1px;
    position: relative;
  .Navbox{
    float:none;
    display: inline-block;
    @media screen and (max-width: 768px){
      display: none;
    }
  }
  .abs-img{
    position: absolute;
    top:0;
    right:0;
    z-index:-1;
    @media screen and (max-width: 768px){
      display: none;
    }
  }
  h1{
    font-size: 28px;
    margin-bottom: 10px;
    color:#0a0a0a;
  }
  .main-swrap{
    text-align:center;
    img{
      height: 80px;
    }
    h3{
      font-size:16px;
      color:#0a0a0a;
      padding: 1em 0 0.3em 0;
    }
    h4{
      font-size:15px;
      color:#0a0a0a;
    }
  }
}

@media (max-width: 768px){
  #main {
    padding: 0;
  }
}

.bg-btn{
  background-color:$theme-color;
  padding:0.5em 0;
  text-align:center;
  width:100%;
  display: block;
  color:#fff !important;
  font-size:20px;
}
.btn-wrap{
  max-width:300px;
  text-align:center;
  margin:5em 0 2em 0;
}
#pageloader
{
  background: rgba( 255, 255, 255, 0.8 );
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

#pageloader img
{
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  position: absolute;
  top: 50%;
}

.faq-item{
  margin-bottom: 1.5em;
  h3{
    background-color: #bb4131;
    padding: 0.2em 5em 0.2em 1em;
    color: white;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 0.8em;
    margin-top: 0.5em;
    -webkit-transform:    skewX(-10deg);
    transform:    skewX(-10deg);
  }
  p,a{
    font-size:18px;
    line-height: 2em;
  }
  a{
    color: $theme-color;
    text-decoration:underline;
  }
}
.airbnb-top{
  @media screen and (min-width: 798px) {
    margin-top: 3em;
  }
  h1{
    &:after{
      content: '';
      width: 1.5em;
      background-color: $theme-color;
      height: 0.7em;
      margin-left: 0.5em;
      display: inline-block
    }
    text-transform: uppercase;
    margin-bottom: 0.6em;
  }
  p{
    font-size:20px;
    line-height:1.6em;
    margin-bottom: 0.6em;
    text-align:left;
  }
  a{
    color: $theme-color;
    text-decoration:underline;
  }
  @media (max-width: 798px){
    h1{
      font-size: 24px!important; ;
    }
    p{
      font-size:16px;
      line-height:1.25em;
    }
  }
}

.airbnb-form{
  select,input{
    border: 2px solid #e3e3e3;
    background-color: #fff;
    font-size: 16px;
    padding: 0.3em 0.8em;
    width:100%;
    height: 100%;
  }
  .row{
    margin-top:0.6em;
  }
  @media (max-width: 798px) {
    [class*="col-md"]{
    margin-top: 0.8em;
    }
  }
}

#airbtnConfirmbtn{
  width: 100%;
  height: 100%;
  border: 1px solid #e3e3e3;
  background-color: $theme-light;
  color: white;
  font-size: 16px;
  padding: 0.3em 0;
}

.trapezoid {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100px;
  height: 0;
  border: 50px solid rgba(0,0,0,0);
  border-top: 0 solid;
  border-bottom: 100px solid #1abc9c;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
}

#airbnb-panel{
  .nav-tabs{
    .nav-item{
    width: 33.33%;
    margin:0 auto;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    }
    /*.nav-last{
      -webkit-transform: unset;
      transform: unset;
    }*/
  }
  .nav-tabs .nav-link{
    border-radius:unset;
    padding:0.5em 1em;
    font-size:16px;
    text-align: center;
    margin: 0 0.5em;
    background-color:#c3c3c3;
    color:#fff;
    border:none;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #fff;
    background-color: $theme-color;
    border-color: unset;
  }
  .nav-tabs{
    border-bottom:unset;
  }

}


.nbtn{
  width: 100%;
  display: block;
  border: 1px solid #e3e3e3;
  background-color: $theme-light;
  color: white;
  font-size: 18px;
  text-align:center;
  padding:0.4em 0;
}

#housekeeping{
  h3{
    font-size: 20px;
    color:$theme-color;
    margin-bottom:0.8em;
  }
  p,span,li{
    font-size: 18px;
  }
  span{
    color:$theme-color;
  }
  .pricelist{
    list-style: none;
    padding: 0;
    max-width: 450px;
    margin: 0 auto;
  }
  .hbg{
    background-color: $theme-color;
    color: #fff;
    padding: 0.3em 1em;
  }
  .li-price{
    display: inline-block;
    float: right;
  }
  .tab-down{
    .hafter{
      font-size: 24px;
      margin-bottom:0.8em;
      &:after{
        content: '';
        width: 2em;
        background-color: $theme-color;
        height: 0.7em;
        margin-left: 0.5em;
        display: inline-block
      }
      span{font-size: 24px;}
    }
  }
}
.tab-down{
  padding:2em 0;
}

.flex-home-item{
  width: 100%;
  margin: 2em auto;
  ul{
    li{
      margin-bottom: 0.3em;
      &:before{
        content:"\f00c";
        font-family: FontAwesome;
        display:inline-block;
        padding:0 0.3em;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

#line,#consumable{
  h3{
    font-size: 20px;
    color:$theme-color;
    margin-bottom:0.8em;
  }
  p,span,li{
    font-size: 18px;
    margin-bottom: 1em;
  }
  span{
    color:$theme-color;
  }
}

.span-bgr{
  background-color: $theme-color;
  color: white;
  padding: 0 0.5em;
}
.span-bgb{
  background-color: #023c5b;
  color: white;
  padding: 0 0.5em;
}

.service-nav{
  [class*="col"]{
    margin-top: 0.8em;
  }
  .nav-item-6{
    height:100%;
    border-radius:unset;
    display: flex;
    text-align:center;
    align-items: center;
    padding:0.5em 1em;
    margin: 0 0.5em;
    background-color:#c3c3c3;
    border:none;
    .nav-link{
      a{
        font-size: 14px!important;
        color:#fff;
      }
      font-size: 14px!important;
      display: unset;
      padding:unset;
      color:#fff;
      margin:0 auto;
    }

  }
  .active{
    color: #fff;
    background-color: $theme-color;
    border-color: unset;
  }
}

#service-panel {
  .nav-tabs .nav-link{
    border-radius:unset;
    padding:0.5em 1em;
    font-size:16px;
    text-align: center;
    margin: 0 0.5em;
    background-color:#c3c3c3;
    color:#fff;
    border:none;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #fff;
    background-color: $theme-color;
    border-color: unset;
  }
  .nav-tabs{
    border-bottom:unset;
  }
}

.li-tick{
  li{
    margin-bottom: 0.3em;
    &:before{
      content:"\f00c";
      font-family: FontAwesome;
      display:inline-block;
      padding:0 0.3em;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

#eol{
  .line-height-special{
    line-height: 2em!important;
  }
  h3{
    font-size: 20px;
    color:$theme-color;
    margin-top: 0.4em;
    margin-bottom:0.2em;
    line-height: 1.5em;
  }
  p,span,li{
    font-size: 18px;
  }
  p{
    line-height: 1.5em;
  }
  span{
    color:$theme-color;
  }
  .pricelist{
    list-style: none;
    padding: 0;
    max-width: 450px;
    margin: 0 auto;
    li{
      padding: 0 1em;
    }
  }
  .hbg{
    background-color: $theme-color;
    color: #fff;
    padding: 0.3em 1em;
  }
  .li-price{
    display: inline-block;
    float: right;
    min-width:150px;
    text-align:center;
  }
  .tab-down{
    .hafter{
      font-size: 24px;
      margin-bottom:0.8em;
      &:after{
        content: '';
        width: 2em;
        background-color: $theme-color;
        height: 0.7em;
        margin-left: 0.5em;
        display: inline-block
      }
      span{font-size: 24px;}
    }
  }
  .caption{
    p{
      font-size: 14px;
    }
  }
}

#carpet{

  h3{
    font-size: 20px;
    color:$theme-color;
    margin-bottom:0.2em;
    margin-top:0.4em;
    line-height: 1.5em;
  }
  p,span,li{
    font-size: 18px;
  }

  span{
    color:$theme-color;
  }
  .pricelist{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    li{
      padding: 0 1em;
    }
  }
  .hbg{
    background-color: $theme-color;
    color: #fff;
    padding: 0.3em 1em;
  }
  .li-price{
    display: inline-block;
    float: right;
  }
  .tab-down{
    .hafter{
      font-size: 24px;
      margin-bottom:0.8em;
      &:after{
        content: '';
        width: 2em;
        background-color: $theme-color;
        height: 0.7em;
        margin-left: 0.5em;
        display: inline-block
      }
      span{font-size: 24px;}
    }
  }
}

